body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	background: #1d2630;
}

.card{
	background: white;
	width: 340px;
	height: 380px;
	border-radius: 10px;
}

.card .image > img{
	max-width: 100%;
	border-radius: 10px;
}

.card .info{
	display: flex;
	align-items:  flex-end;
	justify-content: space-between;
	padding: 0px 30px 0px 30px;
}

.card .info h3{
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 5px;
}

.card .info p{
	font-size: 18px;
	font-weight: 600;
}

.card .price{
	text-align: right;
	color: red;
}

.card .btn{
	display: flex;
	justify-content: space-around;
}

.card .btn button{
	padding: 12px 32px;
	border: none;
	border-radius: 10px;
	background: #ffa600;
	color: white;
	font-size: 15px;
	font-weight: 700;
	cursor: pointer;
}

.card .btn .btn2{
	background: #1d2630;
	padding: 12px 15px;
}

https://youtu.be/3srfHkV9bGw